# Database Settings
# For PostgreSQL (remote): postgresql://username:password@hostname:5432/database_name
# For MySQL (remote): mysql+pymysql://username:password@hostname:3306/database_name
# For SQLite (local): sqlite:///./banking.db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bank_crm


# LLM Config
# Set to 'true' to use 100% local model (Qwen2.5-0.5B-Instruct) downloaded from Hugging Face
# Set to 'false' to use Gemini API (requires GEMINI_API_KEY below)
USE_LOCAL_LLM=false
GEMINI_API_KEY=API key here
GEMINI_MODEL=gemini-2.5-flash

# Hugging Face Serverless API Config
# Set to 'true' to use Hugging Face free Serverless API instead of Gemini
USE_HF_API=false
HF_API_KEY=your_huggingface_api_token_here
HF_MODEL=Qwen/Qwen2.5-7B-Instruct

# Groq API Config
# Set to 'true' to use Groq API (requires GROQ_API_KEY below)
USE_GROQ_API=false
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile




# Vector DB settings
CHROMA_DB_PATH=./chroma_db

# Backend port
PORT=8000
